<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NLP APP | Register page</title>
</head>
<body>
    <h1>NLP APP</h1>

    <h3>Register Here</h3>
     {% if message %}
        <p styple="color:red">{{ message }}</p>
    {% endif %}

    <form action="/perform_registration" method="post">
        <label>Name</label><br>
        <input type="text" name="user_name" required></br>
        <label>Email</label><br>
        <input type="email" name="user_email" required><br>
        <label>Password</label><br>
        <input type="Password" name="user_password" required></br><br>
        <input type="submit" value="Register">
    </form>

    <p>Already a member? <a href="/">Login</a></p>
</body>
</html>