<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentimental Analysis</title>
</head>
<body>
    <form action="/perform_sentiment_analysis" method="post">
        <label>Type your text here</label><br>
        <textarea name="sentiment_text"></textarea><br>
        <input type="submit" value="Sentiment Analysis">
    </form>

    {% if polarity is defined and subjectivity is defined %}
        <h3>Sentiment Analysis Result:</h3>
        <p>Polarity: {{ polarity }}</p>
        <p>Subjectivity: {{ subjectivity }}</p>
    {% endif %}


</body>
</html>